.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
inst/doc
inst/python/__pycache__/
docs
static
pkgdown/favicon
revdep
build_package.R
tester.R
doc
Meta
.DS_store
*.drawio
vignettes/*.html
vignettes/*.R
.github/workflows/pr-commands.yaml

.github/workflows/R-CMD-check.yaml
