{{ if  (.Params.toc) }}

<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-right" style="width:200px;right:0;" id="tocSidebar">
  <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
  
  {{.TableOfContents}}
</div>

<div class="w3-main" style="margin-right:200px">
<div class="w3-teal">
  <button class="w3-button w3-teal w3-xlarge w3-right w3-hide-large" onclick="w3_open()">&#9776;</button>
  
</div>

<script>
function w3_open() {
    document.getElementById("tocSidebar").style.display = "block";
}
function w3_close() {
    document.getElementById("tocSidebar").style.display = "none";
}
</script>
{{ end }}
