# Based on: https://github.com/samapriya/Earth-Engine-Datasets-List/blob/master/.github/workflows/gee_catalog.yml
# Author: Roy Samapriya
name: gee_catalog_lightweight
on:
  push:
    branches:
      - master
  schedule:
    - cron:  '0 1 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: checkout repo content
        uses: actions/checkout@v2

      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7.x'  # Use a flexible version

      - name: install python packages
        run: |
          python -m pip install --upgrade pip        
          pip install -U pip setuptools
          pip install pendulum beautifulsoup4 requests

      - name: dataset upgrade
        run: |
          python3 ./.github/db_up.py

      - name: file_check
        run: ls -l -a

      - name: commit files
        continue-on-error: true
        run: |
          today=$(date +"%Y-%m-%d")
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git commit -m "updated datasets ${today}" -a

      - name: push changes
        continue-on-error: true
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: master
